*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family:sans-serif;
    
}

body{
background: #2193b0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
overflow: hidden;
}

.container{
    display: flex;
    
}

nav{
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    background:#fff;
    max-width: 280px;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0,0,0,0.2);
}

.logo{
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    
}
.logo img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-left: 60px;
    margin-bottom: 20px;
    
}

.logo span{
    max-width: 280px;
    font-size: 30px;
}
.profile-img{
height: 300px;
width: 100%;
align-items: center;
justify-content: center;
text-align: center;
}
.profile-img img{
    
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
    box-shadow: 0 20px 35px rgba(0,0,0,0.2);
}


a{
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 280px;
    padding: 10px;

}

nav .fas{
    position: relative;
    width:70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-item{
position: relative;
top: 12px;



}

a:hover{
    background: #eee;

}
.logout{
    position: absolute;
    bottom: 0;

}

.main{
    position: relative;
    padding: 20px;
    width: 100%;

}

.top{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 30px;

}

.top i{
position: absolute;
right: 0;
margin: 10px 30px;
color: rgb(11,109,109);
cursor: pointer;
}

.body{
    display: flex;
     justify-content: space-evenly;
     padding-top: 100px;
    
}

.cards{
    text-align: center;
    height: 200px;
    width:350px;
    padding: 10px;
    margin: 10px;
    
    margin-bottom: 40px;
    border-radius: 30px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.2);
}

.cards i{
    height: 20px;
    width: 20px;
}

.cards h3{
    padding-bottom: 10px;
}


.clock{
    display: flex;
    margin-right: 40px;
   justify-content: center;
   padding: 20px;

}

.date{
    display: flex;
    padding: 20px;
   justify-content: center;
   

}
.clock div{
    margin: 5px;
    
    position: relative;
}

.date div{
    margin: 5px;
    position: relative;
}
.clock span{
    width: 60px;
    height: 40px;
    background-color: slateblue;
    opacity: 0.8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0,0, 0.3);
}
.date span{
    width: 60px;
    height: 40px;
    background-color: slateblue;
    opacity: 0.8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0,0, 0.3);
}

.clock .text{
    height: 10px;
    font-size: 6px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: darkblue;
    opacity: 0.8;

}
.date .text{
    height: 10px;
    font-size: 6px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: darkblue;
    opacity: 0.8;

}

.clock #ampm{
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: green;
}



#weather_query{
    height: 25px;
    width: 200px;
    border-radius: 5px;
    font-size: 15px;
    

}

.weatherdata{
    padding: 10px;
    font-size: 15px;

}

